@tailwind base;
@tailwind components;
@tailwind utilities;

@import './partials/loadingImage';
@import './partials/signIn';
@import './partials/cardDevisDetails';
@import './partials/signUp';

@font-face {
    font-family: 'Varela';
    src: url(fonts/VarelaRound-Regular.ttf);
}

::-webkit-scrollbar {
    width: .7rem;
    background: rgb(200, 201, 200);
    border-radius: .4rem;
}

::-webkit-scrollbar-thumb {
    background-color: #08b811;
    border-radius: .4rem;
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #f7f7f7;
    opacity: 1;
    background-size: 11px 11px;
    min-height: 100vh;
    main {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 70px 0;
    }
}

.navlogo {
    transition: transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.navlogo:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 6px rgba(0, 0, 0, 0.2));
}
