@tailwind base;
@tailwind components;
@tailwind utilities;

@import './partials/formDevis';
@import './partials/loadingImage';
@import './partials/signIn';

@font-face {
    font-family: 'Varela';
    src: url(fonts/VarelaRound-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #f7f7f7;
    opacity: 1;
    background-image: radial-gradient( #ffffff);
    background-size: 11px 11px;
    min-height: 100vh;
    main {
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
