@tailwind base;
@tailwind components;
@tailwind utilities;

@import './partials/formDevis';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #c4cbc6;
    opacity: 1;
    background-image: radial-gradient(#44f74d 0.55px, #d1d4d1 0.55px);
    background-size: 11px 11px;
    min-height: 100vh;
    main {
        min-height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
